<% include layout %>
<br/>
<h2>Create</h2>
<br/>
<form action="/create" method='post'>
  <p>Title:
    <input type='text' name='title'>
  </p>
  <p>Artist:
    <input type='text' name='artist'>
  </p>
  <p>Duration:
    <input type='text' name='duration'>
  </p>
  <p>Codec:
    <input type='text' name='codec'>
  </p>
  <p>
    <br/><button type="submit">ADD</button>
  </p>
</form>
